* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(150, 210, 30);
  padding: 0 24px;
}

:root {
  --background-color: #ffffff;
  --main-color: #999999;
  --accent-color: #000000;
  --error-color: #ff7575;
  --font-size-s: 16px;
  --font-size-m: 26px;
  --font-size-l: 40px;
  --font-size-xl: 64px;
  --main-font: "Jet", monospace;
  --accent-font: "Manege", serif;
}

h1 {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--font-size-xl);
}

h2 {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--font-size-m);
}

p {
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: var(--font-size-s);
  line-height: 150%;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--accent-color);
  margin-block: 24px;
}

.hero {
  background-color: crimson;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-block: 46px;
}

.hero-title-left {
  display: flex;
  align-self: flex-start;
  color: var(--main-color);
}

.hero-title-right {
  display: flex;
  align-self: flex-end;
}

.img-1 {
  height: 440px;
  width: 342px;
  background-image: url("../assets/images/270cb56ae63579a7294e8b92ddf3cc5e.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 14px;
}

/* animation */

.word-changing-container {
  position: relative;
  width: 100%;
  font-family: "Manege", serif;
  font-size: 64px;
  line-height: 1;
  height: 1em;
  overflow: hidden;
  perspective: 1000px;
}

.word-changing {
  position: absolute;
  inset: 0;
  height: 100%;
  font: inherit;
  color: azure;
  text-transform: uppercase;
}

.word-layer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.letter-mask {
  display: inline-block;
  height: 1em;
  overflow: hidden;
}

.letter {
  display: inline-block;
  line-height: 1;
  will-change: transform;
}

/* info */

.info {
  padding-block: 64px;
  text-align: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
